html
	head
		title website-development-boilerplate
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='dependencies/bulma.min.css')
		link(rel='stylesheet' href='dependencies/fontawesome.min.css')
		link(rel='stylesheet' href='css/helper.css')
	body
		section.hero.is-large
			.hero-head
				nav.navbar
					.container
						.navbar-brand
							a.navbar-item website-development-boilerplate
							span.navbar-burger.burger(data-target='navbarMenuHeroB')
								span
								span
								span
						#navbarMenuHeroB.navbar-menu
							.navbar-end
								a.navbar-item.is-active
									| Home
								a.navbar-item
									| Examples
								a.navbar-item
									| Documentation
								span.navbar-item
									a.button.is-info.is-inverted
										span.icon
											i.fab.fa-github
										span Download
			.hero-body
				.container.has-text-centered.sr
					p.title
						| Title
					p.subtitle
						| Subtitle
		section.hero.has-background-white-ter.is-medium
			.hero-body
				.columns
					.column.has-text-centered
						.content.sr
							i.far.fa-smile-beam.fa-3x
							h3.title Hello there
							p.subtitle I'll be your guide
					.column.has-text-centered
						.content.sr
							i.fas.fa-plane.fa-3x
							h3.title I think
							p.subtitle That I can't plane that
					.column.has-text-centered
						.content.sr
							i.far.fa-folder-open.fa-3x
							h3.title Oww
							p.subtitle Nice'n'yummy
		section.hero
			.hero-body.has-max-width-1632px
				.container
					section.section
						.columns
							.column.has-everything-centered
								.content
									h1.title We are using your mind
									p.subtitle To make you think about us
							.column
								.box
				.container
					section.section
						.columns.is-reversed-on-mobile 
							.column
								.box
							.column.has-everything-centered
								.content
									h1.title We love to catch your attention
									p.subtitle Just think about how do you get there
				.container
					section.section
						.columns
							.column.has-everything-centered
								.content
									h1.title Our services are pretty simple
									p.subtitle It depends on how do you read our intentions
							.column
								.box
		section.hero.has-background-white-ter
			.hero-body
				.columns
					.column
						.box.sr
							.content
								h3.title Contact
								p 34-534, St. Claus Avenue
								p California, USA
								span.has-padding-5px
									a
										i.fab.fa-facebook.fa-3x
								span.has-padding-5px
									a
										i.fab.fa-instagram.fa-3x
					.column
						.box.sr
							.content
								h3.title Sales
								h5 Robert Williams
								p +49 840 394 203
								h5 Ann Blue
								p +49 329 239 324
		footer.footer
			.content.has-text-centered.sr
				p
					strong A template
					|  by 
					a(href='https://github.com/karolsw3' target='_blank') Karol Świerczek
					| . The source code is licensed under the 
					a(href='http://opensource.org/licenses/mit-license.php') MIT 
					| license.
		.upButton
			.arrow
		script(src='dependencies/scrollreveal.min.js')
		script(src='dependencies/smooth-scroll.min.js')
		script(src='src/js/helper.js')
